.App {
  text-align: center;
}
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid royalblue;
  background-color: white;
  color: royalblue;
  border-radius: 15px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: royalblue;
  color: white;
  box-shadow: 0 4px 10px rgba(65, 105, 225, 0.3);
  transform: scale(1.05);
}
